<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<img src="http://images.onset.freedom.com/ocregister/nq7dgv-b88439307z.120150619104623000g4oae2cj.10.jpg" style="width:228px;height:304px;">
	<div>
		Buffy Summers
		<br>
		Human
		<br>
		S1, S2, S3, S4, S5, S6, S7
	</div>
	<div>
		About Buffy
		<br>
		<textarea rows="20" cols="50" name="description">Buffy Summersis the main protagonist of Buffy the Vampire Slayer.</textarea>
	</div>

</body>
</html>