<div class="container error">

<h3 class="characterHeader2">That character already exists!</h3>

<div class="imageContainer">
	<img class="errorImg" src="http://25.media.tumblr.com/tumblr_m5j2ty2Q7S1rw600ao1_500.gif">
</div>
<br>
Please <a href="/characters/new">try again</a>
</div>