<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
</head>
<body id="homepageImgs">
<div id="Carousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="Carousel" data-slide-to="0" class="active"></li>
            <li data-target="Carousel" data-slide-to="1"></li>
            <li data-target="Carousel" data-slide-to="2"></li>
            <li data-target="Carousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="http://www.cinemabeach.com/wp-content/plugins/RSSPoster_PRO/cache/abcb1_3b0f16a0-0dff-0133-f4ce-0e18518aac2f.jpg">
                <div class="carousel-caption">
    				<h3>Welcome to BuffyWiki</h3>
    				<p>Your one-stop resource for everything in the Buffy-verse.</p>
 				 </div>
            </div>
            <div class="item">
                <img src="http://cdn.collider.com/wp-content/uploads/2016/03/buffy-the-vampire-slayer-spike-drusilla.jpg">
            </div>
            <div class="item">
                <img src="http://3.bp.blogspot.com/-CN6r_VYUNvg/VEqRunY2d_I/AAAAAAAABto/OAiDPhW0ZJc/s1600/522_TheGift.jpg">
            </div>
            <div class="item">
                <img src="http://4.bp.blogspot.com/-P3gRaQ8BBHw/Vnb4B_sFXXI/AAAAAAAACw4/guksulNdgb0/s1600/tabuladish.png">
            </div>
        </div>

        <a class="left carousel-control" href="#Carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#Carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</body>
</html>



	
