<form method="POST" action="/characters">
	<input type="text" name="character[name]" placeholder="name">
	<br>
	<input type="text" name="character[image_url]" placeholder="image url">
	<br>
	<br>
	<textarea rows="10" cols="20" name="character[description]" placeholder="description"></textarea>
	<br>
	Season: S1<input type="checkbox" name="character[season1]" value="true"> S2<input type="checkbox" name="character[season2]" value="true"> S3<input type="checkbox" name="character[season3]" value="true"> S4<input type="checkbox" name="character[season4]" value="true"> S5<input type="checkbox" name="character[season5]" value="true"> S6<input type="checkbox" name="character[season6]" value="true"> S7<input type="checkbox" name="character[season7]" value="true">
	<br>
	<select name="character[character_type]">
		<option value="human">human</option>
		<option value="vampire">vampire</option>
		<option value="demon">demon</option>
		<option value="other">other</option>
	</select>
	<br>
	<input type="submit" name="submit" value="Add Character">
</form>