<form>
	<input type="text" name="name" placeholder="name">
	<br>
	Season: S1<input type="checkbox" name="season"> S2<input type="checkbox" name="season" value="S2"> S3<input type="checkbox" name="season" value="S3"> S4<input type="checkbox" name="season" value="S4"> S5<input type="checkbox" name="season" value="S5"> S6<input type="checkbox" name="season" value="S6"> S7<input type="checkbox" name="season" value="S7">
	<br>
	<select>
		<option value="human">human</option>
		<option value="vampire">vampire</option>
		<option value="demon">demon</option>
		<option value="other">other</option>
	</select>
	<br>
	<input type="submit" name="submit" value="Search">
</form>